<!DOCTYPE html>
<html>

<head>
    <title>NeuraGPT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="static/neurabrain.png">
    <link rel="stylesheet" href="static/index.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
</head>

<body>


    <div class="home">

        



        <h1 id="heading" >NeuraGPT v1</h1>

        <p style="font-size: medium;">This is a custom knowledge base chatbot. <br> Upload a .pdf file and ask
            the bot questions about it.</p>



        <input id="prompt" type="text" placeholder="   Enter Prompt" />
        <button onclick="getResponse()">Get Response</button>

        <form enctype="multipart/form-data" onsubmit="return false;">
            <input id="file" type="file" name="static_file" />
            <button id="upload-button" onclick="uploadFile(this.form)"> Upload </button>
        </form>
        <div id="static_file_response"> </div>


        <div id="response">
            <div id="resp"></div>
            <div id="loader" style="display:none;"></div>
        </div>

    </div>


    <script>


        function getResponse() {


            document.getElementById('loader').style.display = 'block';

            var prompt = document.getElementById('prompt').value;
            var filename = document.getElementById('file').value;


            var formData = new FormData();
            formData.append('prompt', prompt);
            formData.append('filename', filename);

            var requestData = { 'prompt': prompt };

            $.ajax({
                url: '/get-response',
                data: JSON.stringify(requestData),
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {
                    document.getElementById('resp').innerHTML = response;
                    console.log(response)
                    document.getElementById('loader').style.display = 'none';
                },
                error: function (response) {

                    console.log("There was an error!");
                    console.log(response);
                    document.getElementById('loader').style.display = 'none';
                }
            });
        }

        function uploadFile(form) {
            var prompt = document.getElementById('prompt').value;
            const formData = new FormData(form);

            var requestData = { 'prompt': prompt };

            var oOutput = document.getElementById("static_file_response")
            var oReq = new XMLHttpRequest();
            oReq.open("POST", "upload_static_file", true);
            oReq.onload = function (oEvent) {
                if (oReq.status == 200) {
                    oOutput.innerHTML = "Uploaded!";
                    console.log(oReq.response)
                } else {
                    oOutput.innerHTML = "Please upload .pdf file.<br \/>";
                }
            };
            oOutput.innerHTML = "Sending file!";
            console.log("Sending file!")
            oReq.send(formData);
        }

    </script>

</body>

</html>